// Widescreens
@include mediaXl {
    main#home #about-me {
        margin-top: 20vh;
    }

    // Heading in Projects section
    main#projects-body h1.lg-heading {
        margin-left: 0;
    }

    // Heading in Experience section
    main#experience h1.lg-heading {
        margin-left: 0;
    }

    // Heading in Experience section
    main#experience h1.lg-heading {
        margin-left: 0;
    }

    // Don't show button for large screens
    .menu-btn {
        visibility: hidden;
    }

    main#home h1 {
        margin-top: 10vh;
    }

    main#home #down-button {
        margin-top: 15vh;
    }
}

// Desktops and Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .lg-heading {
        line-height: 1;
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    main#home h1 {
        margin-top: 10vh;
        margin-bottom: 1rem;
    }

    main#home #down-button {
        margin-top: 5vh;
    }

    main#home #about-me {
        margin-top: 12vh;
    }

    // Don't show button for large screens
    .menu-btn {
        visibility: hidden;
    }
}

// Tablets and Small Laptops
@include mediaMd {
    div#myTopnav.topnav {
        display: none;
    }

    main {
        align-itmes: center;
        text-align: center;
    }

    .lg-heading {
        line-height: 1;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    // Big heading margins
    main#home h1 {
        margin-top: 10vh;
        margin-bottom: 1rem;
        font-size: 5rem;
    }

    #down-button {
        visibility: hidden;
    }

    main#home #down-button {
        margin-top: 5vh;
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait {
            background: url('../img/selfPortrait2Small.jpg');
            width: 150px;
            height: 148px;
        }
    }

    main#home #about-me {
        margin-top: 10vh;
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
        margin-bottom: 1rem;
        font-size: 3.7rem;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .bio-image {
        margin: 0;
    }

    .about-info {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-self: center;
    }

    div#myTopnav.topnav {
        display: none;
    }

    // Contact
    input[type=text], textarea {
        width: 250px;
    }

    form#contact-form {
        align-items: center;
    }
}